
@reference "../../index.css";

.webgl-background {
  @apply fixed inset-0 w-full h-full;
  @apply pointer-events-none;
  @apply opacity-20;
  z-index: 1;
}

.light .webgl-background {
  @apply opacity-15;
}

